@import "tailwindcss";

@theme {
  --color-bg: #f9fafb;
  --color-surface: #ffffff;
  --color-border: #e5e7eb;
  --color-text: #111827;
  --color-muted: #4b5563;
  --color-accent: #6366f1;
  --color-accent-lo: #eef2ff;
  --color-green-custom: #10b981;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-ticker {
  animation: ticker 28s linear infinite;
}

@keyframes customPulse {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.8);
  }
}
.animate-custom-pulse {
  animation: customPulse 2s infinite;
}
